<div class="container">
  <div class="category-nav" [style.borderBottom]="'2px solid ' + color">
    <div class="left">
      <h2 [style.color]="color">{{ categoryName }}</h2>
    </div>
    <div class="right">
      <ng-container *ngFor="let item of subCategories | slice : 0 : 3">
        <a
          routerLink="/category/{{ categoryName }}"
          class="category-link"
          [style.backgroundColor]="backgroundColor"
          [style.color]="color"
          >{{ item }}</a
        >
      </ng-container>
      <a
        routerLink="/category/{{ categoryName }}"
        class="category-link more"
        [style.borderColor]="color"
        [style.color]="color"
        >VIŠE</a
      >
    </div>
  </div>
</div>
