<div class="news-container">
  <div class="main-news">
    <app-big-news-card
      [id]="latestArticles[0].getId()"
      [title]="latestArticles[0].getTitle()"
      [thumbnail]="latestArticles[0].getThumbnail()"
      [imageSource]="latestArticles[0].getImageSource()"
      [publishedAt]="latestArticles[0].getPublishedAt()"
      [categoryName]="latestArticles[0].getSubCategories()"
      [color]="findColorForCategory(latestArticles[0].getCategory())"
    />
  </div>
  <app-side-news-list [articles]="latestArticles.slice(1, 3)" />
  <app-sidebar></app-sidebar>
</div>

<div class="horizontal-news-list">
  <app-small-news-card
    *ngFor="let newsItem of latestArticles.slice(3); trackBy: trackById"
    [id]="newsItem.getId()"
    [title]="newsItem.getTitle()"
    [thumbnail]="newsItem.getThumbnail()"
    [imageSource]="newsItem.getImageSource()"
    [publishedAt]="newsItem.getPublishedAt()"
    [categoryName]="newsItem.getSubCategories()"
    [color]="findColorForCategory(newsItem.getCategory())"
  ></app-small-news-card>
</div>

<div class="horizontal-news-list">
  <app-small-news-card
    *ngFor="let newsItem of data; trackBy: trackById"
    [id]="newsItem.getId()"
    [title]="newsItem.getTitle()"
    [thumbnail]="newsItem.getThumbnail()"
    [imageSource]="newsItem.getImageSource()"
    [publishedAt]="newsItem.getPublishedAt()"
    [categoryName]="newsItem.getSubCategories()"
    [color]="findColorForCategory(newsItem.getCategory())"
  ></app-small-news-card>
</div>

<div class="container">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
