* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
}

:root {
  --background-color: #091425;
  --primary-color: #ff3d3d;
}

body {
  background-color: var(--background-color);
  font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 transparent;
  border-radius: 10px;
}
