<nav class="pagination-nav" aria-label="Pagination">
  <button
    class="btn prev"
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)"
    aria-label="Previous Page"
  >
    ← PRETHODNA
  </button>

  <div class="pages">
    <button
      *ngIf="!displayedPages.includes(1)"
      class="page"
      [class.active]="1 === currentPage"
      (click)="changePage(1)"
    >
      1
    </button>

    <span *ngIf="shouldShowStartEllipsis" class="ellipsis">...</span>

    <button
      *ngFor="let page of displayedPages"
      class="page"
      [class.active]="page === currentPage"
      (click)="changePage(page)"
    >
      {{ page }}
    </button>

    <span *ngIf="shouldShowEndEllipsis" class="ellipsis">...</span>

    <button
      class="page"
      *ngIf="!displayedPages.includes(totalPages)"
      [class.active]="totalPages === currentPage"
      (click)="changePage(totalPages)"
    >
      {{ totalPages }}
    </button>
  </div>

  <button
    class="btn next"
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)"
    aria-label="Next Page"
  >
    NAREDNA →
  </button>
</nav>
