<div class="header-container">
  <div class="content-wrapper">
    <div
      class="category-tag"
      [style.color]="findColorForCategory(article.getCategory())"
    >
      {{ article.getParsedSubCategories()[0] }}
    </div>
    <h1 class="headline">
      {{ article.getTitle() }}
    </h1>
    <div class="meta-info">
      <div class="author-tag">
        <div
          class="author-avatar"
          [style.backgroundColor]="findColorForCategory(article.getCategory())"
        >
          {{ article.getAuthor()[0] }}
        </div>
        <span>{{ article.getAuthor() }}</span>
      </div>
      <div class="timestamp">{{ formatTimeAgo(article.getPublishedAt()) }}</div>
      <div class="comments">
        <svg width="16" height="16" viewBox="0 0 512 512" fill="currentColor">
          <path
            d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7z"
          />
        </svg>
        <span>0</span>
      </div>
    </div>
  </div>
</div>
<div class="article-container">
  <div class="content-wrapper">
    <div class="flex">
      <div class="content">
        <div class="article-highlight">
          {{ article.getShortDescription() }}
        </div>

        <figure class="article-image">
          <img
            [src]="
              this.sanitizer.bypassSecurityTrustUrl(article.getThumbnail())
            "
            alt="{{ article.getImageSource() }}"
          />
          <figcaption>{{ article.getImageSource() }}</figcaption>
        </figure>

        <div class="article-content" [innerHTML]="content"></div>

        <div
          class="tags-section"
          [style.borderTop]="
            '1px solid' + findColorForCategory(article.getCategory())
          "
        >
          <p class="tags-title">TAGOVI</p>
          <div class="tags-container">
            @for (item of article.getParsedSubCategories(); track $index) {
            <a
              href="#"
              class="tag"
              [style.color]="findColorForCategory(article.getCategory())"
              [style.backgroundColor]="
                findBackgroundColorForCategory(article.getCategory())
              "
              >{{ item }}</a
            >
            }
          </div>
        </div>

        <div class="comment-section">
          <a
            href="#"
            class="comment-button"
            [style.border]="
              '2px solid' + findColorForCategory(article.getCategory())
            "
            [style.color]="findColorForCategory(article.getCategory())"
          >
            Ostavi komentar
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="M9 5l7 7-7 7" />
            </svg>
          </a>
        </div>

        <div
          class="read-more-section"
          [style.borderBottom]="
            '1px solid' + findColorForCategory(article.getCategory())
          "
        >
          <h2
            class="read-more-title"
            [style.color]="findColorForCategory(article.getCategory())"
          >
            Pročitaj još
          </h2>
        </div>
        <div class="horizontal-items">
          @for (newsItem of moreSimilarArticles; track $index) {
          <app-small-news-card
            [id]="newsItem.getId()"
            [title]="newsItem.getTitle()"
            [thumbnail]="newsItem.getThumbnail()"
            [imageSource]="newsItem.getImageSource()"
            [publishedAt]="newsItem.getPublishedAt()"
            [categoryName]="newsItem.getSubCategories()"
            [color]="findColorForCategory(newsItem.getCategory())"
          />
          }
        </div>
      </div>

      <div class="sidebar">
        <app-sidebar />
      </div>
    </div>
  </div>
</div>
