<div class="header-container">
  <div class="content-wrapper">
    <div class="category-tag">Antiterorističke operacije</div>
    <h1 class="headline">
      Erdogan: Turska postigla značajan uspjeh, porazili smo ISIS
    </h1>
    <div class="meta-info">
      <div class="author-tag">
        <div class="author-avatar">A</div>
        <span>Anadolija</span>
      </div>
      <div class="timestamp">Prije oko 5h</div>
      <div class="comments">
        <svg width="16" height="16" viewBox="0 0 512 512" fill="currentColor">
          <path
            d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7z"
          />
        </svg>
        <span>0</span>
      </div>
    </div>
  </div>
</div>
<div class="article-container">
  <div class="content-wrapper">
    <div class="flex">
      <div class="content">
        <div class="article-highlight">
          Erdogan je istakao da je Turska spriječila širenje terorističke grupe
          PKK/YPG kod svoje granice, zahvaljujući antiterorističkim operacijama.
        </div>

        <figure class="article-image">
          <img
            src="https://static.klix.ba/media/images/vijesti/m11_250105088.jpg?v=1"
            alt="Erdogan govori na konferenciji"
          />
          <figcaption>Foto: Anadolija | Turski predsjednik</figcaption>
        </figure>

        <div class="article-content">
          <p>
            Turski predsjednik <strong>Recep Tayyip Erdogan</strong> izjavio je
            u nedjelju da je Turska "bukvalno porazila" terorističku grupu ISIS,
            "aparat za regionalne planove koji se danas pokušava ponovo
            aktivirati".
          </p>

          <p>
            "Turska je postigla značajan uspjeh u strategiji odlučne eliminacije
            terorizma na njegovom izvoru", kazao je Erdogan u obraćanju na 8.
            redovnom pokrajinskom kongresu AK Partije u provinciji Trabzon.
          </p>

          <p>
            Istakao je da je Turska spriječila širenje terorističke grupe
            PKK/YPG kod svoje granice, zahvaljujući antiterorističkim
            operacijama.
          </p>

          <p>
            "Nesumnjivo ćemo jedinstvom i solidarnošću postići naš cilj Turske
            bez terorizma, gdje su sukobi, nasilje i nestabilnost u potpunosti
            stvar prošlosti", dodao je Erdogan.
          </p>

          <p>
            Poručio je da je okončana era oslanjanja na oružje, nasilje i
            terorizam koji podržavaju imperijalisti.
          </p>

          <p>
            "Nećemo dozvoliti da se podignu novi zidovi između nas i naše braće
            i sestara sa kojima smo dijelili isto geografsko područje i živjeli
            jedni pored drugih hiljadu godina", kazao je Erdogan.
          </p>
        </div>

        <div class="tags-section">
          <div class="tags-container">
            <a href="#" class="tag">Recep Tayyip Erdogan</a>
            <a href="#" class="tag">ISIS</a>
            <a href="#" class="tag">Turska</a>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <app-sidebar />
      </div>
    </div>
  </div>
</div>
