<div class="container">
  <div class="login-container">
    <img class="logo" src="/logo.png" alt="logo tuzlanski.ba" />
    <h1>Prijavite se</h1>
    <form>
      <input
        type="email"
        class="form-input"
        placeholder="Email adresa"
        required
      />
      <input
        type="password"
        class="form-input"
        placeholder="Lozinka"
        required
      />
      <button type="submit" class="login-btn">Prijavi se</button>
    </form>
    <p class="register-new-account">
      Ne posjedujete račun? <a href="#">Registrujte se</a>
    </p>
  </div>
</div>
