<div class="news-container">
  <div class="main-news">
    <app-big-news-card></app-big-news-card>
  </div>
  <app-side-news-list></app-side-news-list>
  <app-sidebar></app-sidebar>
</div>

<div class="horizontal-news-list">
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
</div>

<app-category-nav></app-category-nav>

<div class="horizontal-news-list">
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
</div>
