<div class="news-container">
  <div class="main-news">
    <app-big-news-card></app-big-news-card>
  </div>
  <app-side-news-list></app-side-news-list>
  <app-sidebar></app-sidebar>
</div>

<div class="horizontal-news-list">
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
  <app-small-news-card></app-small-news-card>
</div>

@for (item of ALL_CATEGORIES; track $index) {
<app-category-nav
  [categoryName]="item.name"
  [color]="item.color"
  [backgroundColor]="item.backgroundColor"
  [subCategories]="findMostUsedSubCategories(data[item.name])"
/>

<div class="horizontal-news-list">
  @for (item of data[item.name]; track $index) {
  <app-small-news-card></app-small-news-card>
  }
</div>
}
