<div class="news-container">
  <div class="main-news">
    <app-big-news-card
      [id]="latestArticles[0].getId()"
      [title]="latestArticles[0].getTitle()"
      [thumbnail]="latestArticles[0].getThumbnail()"
      [imageSource]="latestArticles[0].getImageSource()"
      [publishedAt]="latestArticles[0].getPublishedAt()"
      [categoryName]="latestArticles[0].getSubCategories()"
      [color]="findColorForCategory(latestArticles[0].getCategory())"
    />
  </div>
  <app-side-news-list [articles]="latestArticles.slice(1, 3)" />
  <app-sidebar></app-sidebar>
</div>

<div class="horizontal-news-list">
  @for (newsItem of latestArticles.slice(3); track $index) {
  <app-small-news-card
    [id]="newsItem.getId()"
    [title]="newsItem.getTitle()"
    [thumbnail]="newsItem.getThumbnail()"
    [imageSource]="newsItem.getImageSource()"
    [publishedAt]="newsItem.getPublishedAt()"
    [categoryName]="newsItem.getSubCategories()"
    [color]="findColorForCategory(newsItem.getCategory())"
  />
  }
</div>

@for (category of ALL_CATEGORIES; track $index) {
<app-category-nav
  [categoryName]="category.name"
  [color]="category.color"
  [backgroundColor]="category.backgroundColor"
  [subCategories]="findMostUsedSubCategories(data[category.name])"
/>

<div class="horizontal-news-list">
  @for (newsItem of data[category.name]; track $index) {
  <app-small-news-card
    [id]="newsItem.getId()"
    [title]="newsItem.getTitle()"
    [thumbnail]="newsItem.getThumbnail()"
    [imageSource]="newsItem.getImageSource()"
    [publishedAt]="newsItem.getPublishedAt()"
    [categoryName]="newsItem.getSubCategories()"
    [color]="category.color"
  />
  }
</div>
}
