.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  min-height: 100%;
  border-right: 1px solid #ccd0d647;
  padding: 20px;
  padding-top: 50px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #fff;
}

.nav-item.active {
  background-color: #e91e63;
}

.nav-item:hover {
  background-color: #e91e63;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.table-header-title {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.add-news-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background-color: #e91e63;
  color: white;
  transition: 0.2s ease-in;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
  display: flex;
  gap: 8px;
}

.add-news-btn:hover {
  background-color: rgb(250, 37, 108);
}
