.main-news-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    0deg,
    rgba(9, 20, 37, 0.97) 0%,
    rgba(12, 22, 39, 0.83) 77%,
    rgba(9, 15, 37, 0.57) 87%,
    transparent
  );
  padding: 20px;
}

.main-news-category {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.45px;
  font-family: Montserrat, sans-serif;
  font-weight: 1000;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-news-title {
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 1000;
  color: white;
  margin: 0;
  line-height: 42px;
}

.main-news-time {
  font-size: 14px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #cfcfcf;
  margin-top: 10px;
}

img {
  width: 800px;
  object-fit: cover;
  height: 100%;
}
