<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">
      <img src="logo.png" alt="tuzlanski.ba logo" style="cursor: pointer" />
    </a>
  </div>
  <ul class="navbar-menu">
    <li *ngFor="let item of navigationCategoryLinks; let i = index">
      <a routerLink="/category/{{ item.name }}">{{ item.name }}</a>
    </li>
  </ul>
  <div class="hamburger" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar-icons">
    @if(!this.authService.isLoggedIn()) {
    <i class="fas fa-sun"></i>
    <a routerLink="/login">
      <i class="fas fa-user"></i>
    </a>
    <i class="fas fa-search"></i>
    } @else {
    <i class="fas fa-right-from-bracket" (click)="handleLogout()"></i>
    }
  </div>
</nav>
<div class="mobile-menu" [class.open]="isMobileMenuOpen">
  <a
    *ngFor="let item of navigationCategoryLinks"
    routerLink="/category/{{ item.name }}"
  >
    {{ item.name }}
  </a>
</div>
