<div class="article-item">
  <div class="image-container">
    <a
      href="https://tuzlanski.ba/vijesti/bih/radno-vrijeme-binga-tokom-novogodisnjih-praznika-evo-kako-ce-trgovine-raditi/983765"
    >
      <img [src]="safeImageUrl" alt="{{ title }} - Source: {{ imageSource }}" />
    </a>
  </div>
  <div class="content">
    <span class="tag" [style.color]="color">{{ categoryName }}</span>
    <h2 class="title">
      <a
        href="https://tuzlanski.ba/vijesti/bih/radno-vrijeme-binga-tokom-novogodisnjih-praznika-evo-kako-ce-trgovine-raditi/983765"
        >{{ title }}</a
      >
    </h2>
    <time datetime="2024-12-30 20:12:00" class="time">{{ formattedTime }}</time>
  </div>
</div>
