.container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.table-header-title {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.add-news-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background-color: #e91e63;
  color: white;
  transition: 0.2s ease-in;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
  display: flex;
  gap: 8px;
}

.add-news-btn:hover {
  background-color: rgb(250, 37, 108);
}
