<div class="sidebar">
  <div class="tabs">
    <button class="tab active">Najnovije</button>
    <button class="tab">Najčitanije</button>
  </div>

  @for (newsItem of latestArticles.slice(7); track $index) {
  <div class="news-item">
    <div
      class="category"
      [style.color]="findColorForCategory(newsItem.getCategory())"
    >
      {{ exportFirstSubCategory(newsItem.getSubCategories()) }}
    </div>
    <a class="title" routerLink="/news/{{ newsItem.getId() }}">
      {{ newsItem.getTitle() }}
    </a>
    <div class="timestamp">{{ formatTimeAgo(newsItem.getPublishedAt()) }}</div>
  </div>
  }
  <a routerLink="/category/Najnovije" class="more-news">VIŠE VIJESTI</a>
</div>
