.article-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Montserrat, sans-serif;
  width: 100%;
  margin-bottom: 20px;
  width: 350px;
}

.article-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .article-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.article-item .image-container {
  width: 350px;
  height: 200px;
  border-radius: 8px;
  margin-right: 16px;
  position: relative;
}

.article-item .image-container img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .article-item .image-container {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 14px;
  }
}

.article-item .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 66.66%;
}

@media (min-width: 768px) {
  .article-item .content {
    width: 100%;
  }
}

.article-item .content .tag {
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.45px;
  font-size: 10px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.article-item .content .title {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: normal;
  margin-bottom: 8px;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .article-item .content .title {
    font-size: 16px;
  }
}

.article-item .content .title a {
  color: inherit;
  text-decoration: none;
}

.article-item .content .time {
  font-size: 14px;
  line-height: 20px;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  color: #9199a4;
}

@media (min-width: 768px) {
  .article-item .content .time {
    font-size: 14px;
  }
}
