.article-item {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  margin-bottom: 20px;
  width: 300px;
  flex: 0 0 300px;
}

.article-item:last-child {
  margin-bottom: 0;
}

.article-item .image-container {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 14px;
  position: relative;
}

.article-item .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.article-item .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.article-item .content .tag {
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.45px;
  font-size: 10px;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.article-item .content .title {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: normal;
  margin-bottom: 8px;
  color: white;
}

.article-item .content .title a {
  color: inherit;
  text-decoration: none;
}

.article-item .content .time {
  font-size: 14px;
  line-height: 20px;
  font-family: Montserrat, sans-serif;
  letter-spacing: normal;
  color: #9199a4;
}
