<table class="news-table">
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Naslov</th>
      <th>Kategorija</th>
      <th>Status</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of news">
      <td>
        <img
          [src]="sanitizer.bypassSecurityTrustUrl(item.getThumbnail())"
          alt="Thumbnail"
          width="60"
          height="60"
          class="news-thumbnail"
        />
      </td>
      <td>
        <div class="news-title">
          {{ item.getTitle() }}
        </div>
        <div class="news-meta">Objavljeno: {{ item.getPublishedAt() }}</div>
      </td>
      <td>{{ item.getCategory() }}</td>
      <td>
        <span class="status-badge status-published">Objavljeno</span>
      </td>
      <td>
        <div class="action-buttons">
          <button class="btn btn-edit" (click)="openEditNewsModal(item)">
            Uredi
          </button>
          <button class="btn btn-delete" (click)="deleteNews(item.getId())">
            Izbriši
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="onPageChange($event)"
></app-pagination>
