<div class="container">
  <div class="category-nav">
    <div class="left">
      <h2>Vijesti</h2>
    </div>
    <div class="right">
      <a href="#" class="category-link">BIH</a>
      <a href="#" class="category-link">REGIJA</a>
      <a href="#" class="category-link">SVIJET</a>
      <a href="#" class="category-link">CRNA HRONIKA</a>
      <a href="#" class="category-link">ŽIVOT</a>
      <a href="#" class="category-link">HUMANO</a>
      <a href="#" class="category-link more">VIŠE</a>
    </div>
  </div>
</div>
